@charset "utf-8";

/********************** flip checkbox start *********************/

.tgl {
	display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
	background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
	background: none;
}
.tgl + .tgl-btn {
	outline: 0;
	display: block;
	width: 2em;
	height: 2em;
	position: relative;
	cursor: pointer;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
	position: relative;
	display: block;
	content: "";
	width: 50%;
	height: 100%;
}
.tgl + .tgl-btn:after {
	left: 0;
}
.tgl + .tgl-btn:before {
	display: none;
}
.tgl:checked + .tgl-btn:after {
	left: 50%;
}


.tgl-flip + .tgl-btn {
	/*padding: 2px;*/
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	font-family: sans-serif;
	-webkit-perspective: 100px;
	-ms-perspective: 100px;
	perspective: 100px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
	display: inline-block;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	width: 100%;
	text-align: center;
	position: absolute;
	line-height: 2em;
	font-weight: bold;
	color: #000000;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 4px;
}
.tgl-flip + .tgl-btn:after {
	content: attr(data-tg-on);
	color : #ffffff;
	background: #dfdfdf;
	-webkit-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
	background: #ffffff;
	content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:hover:before {
	color: white;
	background: rgba(0, 136, 204, 0.55);
}
.tgl-flip + .tgl-btn:active:before {
	-webkit-transform: rotateY(-20deg);
	-ms-transform: rotateY(-20deg);
	transform: rotateY(-20deg);
}


.tgl-flip:checked + .tgl-btn:before {
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
	-webkit-transform: rotateY(0);
	-ms-transform: rotateY(0);
	transform: rotateY(0);
	left: 0;
	background: #0088cc;
}
.tgl-flip:checked + .tgl-btn:hover:after {
	background: #0069a3;
}
.tgl-flip:checked + .tgl-btn:active:after {
	-webkit-transform: rotateY(20deg);
	-ms-transform: rotateY(20deg);
	transform: rotateY(20deg);
}

/********************** flip checkbox end *********************/
/********************** dialogBox start *********************/

#bandWidthDialogBox{
	max-width: 700px;
}

.row{
	margin: 10px 0;
}

.muti-picker{
	display: inline-block;
}

.pick-from{
	background-color: white;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	background-clip: padding-box;
	color: #333333;
	font-size: 13px;
	/*line-height: 18px;*/
	padding: 4px;
	white-space: normal;
	direction: ltr;
	margin: 2px;
	text-align: left;
	box-shadow: 1px 2px 5px #d9d9d9;
}


.muti-picker td{
	/*padding: 20px;*/
	text-align: center;
	border-radius: 4px;
	box-sizing: border-box;
	border-collapse: collapse;

	/*border: 1px solid darkgray;*/
}

.pick-from.week td,
.pick-from.month td{
	width: 35px;
	height: 35px;
}

.pick-from.time td{
	width: 65px;
	height: 35px;
}

.time-td .tgl + .tgl-btn {
	width: 4em;
}

.col-sm-4.thin{
	padding-right: 1px !important;
}

.col-sm-8.thin{
	padding-left: 1px !important;
}

/********************** dialogBox end *********************/

.hide-num {
	display: none;
}